@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&family=Roboto:wght@300&display=swap');
.maincontainer{
    height: 80vh;
    /* background-color: white; */
    /* background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% ); */
    /* background-image: linear-gradient( 88.8deg,  rgba(239,171,245,1) 13.4%, rgba(196,181,249,1) 76.3% ); */
    background-image: url('./About2_bg.jpg');
    background-size: 100% 100%;
    margin: 1.5vh 3vw 1.5vh 3vw;
    border-radius: 14px;
    border: 3px solid white;

}
.maincontainer .heading{
    font-size: 3vw;
    font-weight: 400;
    padding: 1%;
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
}
.subcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.subcontainer div{
    height: 100%;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    

    
}
 .text{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 2%;
    align-items: flex-start;
    color: white;
    /* background-color: #fff;
    background-color: rgba(255, 255, 255, 0.292); */

}
.subcontainer div img{
    padding: 2%;
    height: auto;
    width: 80%;
    border-radius: 30px;
    /* overflow: hidden; */
}
.text p{
    /* background-color: #fff; */
    background-color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 1335px) {
    .maincontainer{
        height: auto;
        color: white;
        background: #012734;
        border: 3px solid rgb(0, 0, 0);
    }
    .mstlogo{
        width: 100% !important;
        height: 40vh !important;
    }
    .subcontainer{
        /* height: auto; */
        flex-direction: column;
        height: 80%;
        padding: 3%;
    }
    .subcontainer div{
      /* height: 40% ; */
        width: 95%;
        overflow: hidden;
    }
    .subcontainer div img{
        height: 100%;
        width: auto;
    }
    .text{
        /* padding-top: 2%; */
        padding: 2% 1% 1% 1%;
        height: 40%;
    }
    .text p{
        /* background-color: #fff; */
        background-color: inherit;
    }
    .heading{
        font-size: 5vw !important;
        padding-top: 2%;
    }
     
}
